*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */

header{
    position: absolute;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13131360;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

header h1 a{
    text-decoration: none;
    margin-left: 5vw;
    color: #fefefe;
    font-size: 1.4em;
    cursor: pointer;
    transition: .3s ease;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

header h1 a:hover{
    color: #ff4c4c;
    transition: .3s ease;
}

/* main */

/* video */
video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

/* Contenedor */
.container{
    position: absolute;
    width: 70vw;
    height: 50vh;
    top: calc(50vh - 20vh);
    left: calc(50vw - 35vw);
    z-index: 1;
    background-color: #13131360;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    transition: .3s ease;
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.container:hover{
    transform: scale(1.1);
    backdrop-filter: blur(10px);
    transition: .3s ease;
}

.container h1, .nav-container li, .nav-container p{
    transition: .3s ease;
    color: #fefefe;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.container:hover h1, .container:hover li, .container:hover p{
    transition: .3s ease;
}

.container h1{
    font-size: 4em;
}

.nav-container li{
    list-style: none;
    font-size: 1.3em;
    cursor: pointer;
}

.nav-container ul li a{
    color: #ff4c4c;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s ease;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.nav-container ul li a:hover{
    font-size: 1.4em;
    color: #dd1d1d;
}


.nav-container p{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.container:hover p{
    font-size: 1.3em;
}